{
    "presets": ["react-app"],
    "plugins": [
      "relay",
      ["transform-imports", {
        "react-bootstrap": {
            "transform": "react-bootstrap/lib/${member}",
            "preventFullImport": true
        },
        "reactstrap": {
          "transform": "reactstrap/lib/${member}",
          "preventFullImport": true
        },
        "lodash": {
          "transform": "lodash/${member}",
          "preventFullImport": true
        }
    }]
    ]
  }