.footer {
  position: absolute;
  bottom: 0;
  background-color: #555d61;
  color: white;
  width: 100%;    
  margin-top: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer a, .footer a:hover, .footer a:focus {
  color: white;
}
.footer a {
  text-decoration: underline;
}
.footer a:hover {
  text-decoration: none;
}


.footer .footer-left {
  float: left;
}

.footer .footer-right {
  float: right;
}